*{
    box-sizing: border-box;
}
p,ul,li{
    margin:0;
    padding:0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#iphone{
    width: 351px;
    height: 692px;
    background: url(images/iphone6.png) no-repeat;
    margin: 0 auto;
    padding:80px 0 95px;
}
#wrap{
    width: 313px;
    height: 520px;
    margin:0px auto;
    left:19px;
    top:80px;
    background: linear-gradient(transparent,rgba(0,0,0,.2)),url(images/timg.jpg) no-repeat 50%;
}

#box{
    float: left;
}
#btn{
    background:#6abe83;
    border:none;
    width:100px;
    height:66px;
    margin:10px 5px 0 0;
    border-radius: 6px;
    outline: none;
}
#inp{
    width:1400px;
    height:66px;
    margin:10px 5px 0 0;
    border-radius: 6px;
    border:none;
    outline: none;
    padding:10px;
    /* display:inline-block; */
}
#imgWrap{
    float:left;
    margin:10px 5px 0 10px;
    
}
#imgWrapleft{
    float:right;
    margin:10px 5px 0 10px;
}
#img{
    width:60px;
    height:60px;
    border-radius: 6px;
}
.fr{
    float:right;
}
#ul li{
    width:100%;
    list-style: none;
    margin-bottom: 10px;
}
.right{
    float:right;
}
.left{
    float:left;
}
#ul li.left img,#ul li.left div{
    float:left;
}
#ul li.right img,#ul li.right div{
    float:right;
}
#ul li.right div{
    border: top 900;
    margin-left: 10px;
}
#ul li.right div,#ul li.left div{
    height:56px;
    line-height: 36px;  
}
#ul li.left div{
    margin-right: 10px;
}
.inps,.inpss{
    background:#6abe83;
    height:20px;
    padding:0 10px;
    border-radius: 8px;
    position: relative;

}
.inps::after,.inpss::after{
    content:"";
    position:absolute;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    top:9px;
    
}
.inps::after{
    border-right:6px solid #6abe83;
    left:-6px;
}
.inpss::after{
    border-left:6px solid #6abe83;
    right:-6px;
}
